[Unit]
Description=I2P-Bote service written in C++
Documentation=man:pboted(1) https://pboted.readthedocs.io/en/latest/
After=network.target

[Service]
User=pboted
Group=pboted
RuntimeDirectory=pboted
RuntimeDirectoryMode=0755
LogsDirectory=pboted
LogsDirectoryMode=0755
Type=forking

ExecStart=/usr/sbin/pboted --conf=/etc/pboted/pboted.conf --pidfile=/run/pboted/pboted.pid --log=file --logfile=/var/log/pboted/pboted.log --daemon --service
ExecReload=/bin/sh -c "kill -HUP $MAINPID"

PIDFile=/run/pboted/pboted.pid

# Use SIGTERM to stop pboted immediately.
KillSignal=SIGTERM
TimeoutStopSec=3m
SendSIGKILL=yes

# To enable write of coredump uncomment this
#LimitCORE=infinity

[Install]
WantedBy=multi-user.target
